* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000000d9;
  font-size: 16px;
}
.logo-section img {
  width: 110px;
}
.main-content-image img {
  width: 600px;
  border-radius: 8px;
  background-position: center center;
  background-size: cover;
  box-shadow: 0 1px 2px #0000000d, 0 4px 8px #0000000d;
}
.offer-letter-background {
  /* border: 5px solid red; */
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin: 40px 200px;
  padding: 34px;
}
.main-content {
  display: flex;
}
.main-content .left-para {
  margin-right: 45px;
}
.main-content .left-para h2 {
  font-size: 2rem;
  margin-bottom: 50px;
}
.main-content .offer-details-section {
  margin-top: 52px;
}
.final-section {
  margin: 58px 25px;
  display: flex;
}
.final-section .final-section-heading,
.final-section .final-section-description {
  opacity: 0.5;
}
.final-section .final-section-value {
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
}
.final-section-blocks {
  margin-right: 30px;
  width: 20%;
}
